Question Number 4: The purchase analysis of walmart.
a. What is the average Purchase Price?
b. What were the highest and lowest purchase prices?
c. How many people have English 'en' as their Language of choice on the website?
d. What is the email of the person with the following Credit Card Number: 4926535242672853
e. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this     transaction?
f. How many people have American Express as their Credit Card Provider and made a purchase above $95 ?
g. How many people have a credit card that expires in 2025?
h. What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) ?
i. What are the 5 most common Job Titles?
j. How many people made the purchase during morning and evening time?

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("walmart_purchase_data.csv")
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

a. What is the average Purchase Price?

In [5]:
avg_PP = df["Purchase Price"].mean()
print("Average Purchase Price:",avg_PP)

Average Purchase Price: 50.347302

b. What were the highest and lowest purchase prices?

In [6]:
min_PP = df["Purchase Price"].min()
print("Lowest Purchase Price:",min_PP)

max_PP = df["Purchase Price"].max()
print("Highest Purchase Price:",max_PP)

Lowest Purchase Price: 0.0
Highest Purchase Price: 99.99

c. How many people have English 'en' as their Language of choice on the website?

In [7]:
count_english = df["Language"].value_counts()["en"]
print("English Count:",count_english)

English Count: 1098

d. What is the email of the person with the following Credit Card Number: 4926535242672853

In [8]:
email = df[df["Credit Card"] == 4926535242672853]["Email"].values[0]
print("Email of given CC Number:",email)

Email of given CC Number: bondellen@williams-garza.com

e. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this     transaction?

In [9]:
pp = df[df["Lot"] == "90 WT"]["Purchase Price"].values[0]
print("Purchase Price:",pp)

Purchase Price: 75.1

f. How many people have American Express as their Credit Card Provider and made a purchase above $95 ?

In [14]:
people_count = df[(df["CC Provider"] == "American Express") & (df["Purchase Price"] > 95)].count()[1]
print("People Count",people_count)
df["CC Exp Date"].unique()

People Count 39

array(['02/20', '11/18', '08/19', '02/24', '10/25', '07/25', '07/24',
       '06/25', '04/24', '01/17', '02/17', '06/26', '05/26', '01/25',
       '09/22', '04/25', '06/22', '01/26', '12/22', '03/22', '03/25',
       '07/22', '02/23', '07/18', '05/19', '03/19', '12/16', '11/24',
       '04/17', '01/20', '05/25', '01/21', '09/16', '09/20', '06/18',
       '12/20', '02/19', '08/20', '04/23', '08/24', '03/26', '05/24',
       '10/17', '08/17', '11/23', '09/19', '02/26', '01/24', '10/20',
       '05/20', '09/25', '11/21', '06/21', '07/23', '03/21', '12/23',
       '11/22', '01/18', '08/22', '08/25', '05/21', '06/17', '10/19',
       '01/22', '11/25', '08/23', '02/18', '12/24', '04/18', '02/25',
       '10/16', '07/17', '06/20', '08/18', '10/18', '09/21', '03/23',
       '03/24', '11/20', '06/19', '07/21', '10/24', '09/17', '09/18',
       '05/22', '12/19', '07/19', '01/23', '10/22', '11/16', '07/20',
       '12/25', '10/21', '05/17', '01/19', '02/22', '10/23', '03/20',
       '12/21', '11/19', '09/23', '02/21', '06/23', '11/17', '03/17',
       '04/21', '09/24', '06/24', '05/23', '07/26', '04/22', '08/16',
       '04/19', '12/18', '12/17', '03/18', '08/21', '05/18', '04/26',
       '08/26', '04/20'], dtype=object)

g. How many people have a credit card that expires in 2025?

In [15]:
people_cc = df["CC Exp Date"].str.split("/").str[1].value_counts()["25"]
print("People have a credit card that expires in 2025:", people_cc)

People have a credit card that expires in 2025: 1033

h. What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) ?

In [19]:
email_lst = df["Email"].apply(lambda x: x.split('@')[1]).value_counts().head()
print("Top 5 most popular Email List:")
print(email_lst)

Top 5 most popular Email List:
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

i. What are the 5 most common Job Titles?

In [20]:
job_lst = df["Job"].value_counts().head()
print("Top 5 most common Job List:")
print(job_lst)

Top 5 most common Job List:
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

j. How many people made the purchase during morning and evening time?

In [22]:
people_lst = df["AM or PM"].value_counts()
print("People made the purchase during morning and evening time:")
print(people_lst)

People made the purchase during morning and evening time:
PM    5068
AM    4932
Name: AM or PM, dtype: int64