In [1]:
#pandas help in cleaning data and to explre data
#these two things are heart of data analysis

#extremely powerful due to one thing ie DATAFRAMES - extremely powerful and flexible.

# Pandas operations can run very fast using GPUs

#easily read and write data....any format

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Creating a sepearate series froma python list
myindex = ['USA', "Canada", 'England']
mydata = [1776, 1876, 2821]

# Just the numeric index
myser = pd.Series(data=mydata)
print(myser)

0    1776
1    1876
2    2821
dtype: int64

In [3]:
#Now the names indecx
myser = pd.Series(data = mydata, index = myindex)
print(myser)

USA        1776
Canada     1876
England    2821
dtype: int64

In [4]:
#creating a Series from numpy array

ran_data  = np.random.randint(0,100,4)
print(ran_data)

[24 56 38 99]

In [12]:
names = ['Alice', 'Bob', 'Candice', 'Dave']
ages = pd.Series(ran_data, names)
print(ages)

Alice      53
Bob        47
Candice     2
Dave       89
dtype: int32

In [15]:
# Using name index
# Imaginary sales data for 1st and 2nd quarter for a global comapany
q1 = {"Japan": 80, "China": 450, "India": 2000, "USA": 200}
q2 = {"Brazil": 100, "China": 500, "India": 270, "USA": 260}
# this is similar to JSON format


# Convert into Pandas Sereis
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

print(sales_Q1)
print(sales_Q2)

Japan      80
China     450
India    2000
USA       200
dtype: int64
Brazil    100
China     500
India     270
USA       260
dtype: int64

In [16]:
# Call values based on Named Index
print(sales_Q1['Japan'])

# Integer based location information also retained
print(sales_Q1[0])

# Be careful with potential errors: 
# 1. Wrong name
# 2. Accidental extra space
# 3. Text case mistake in Uppercase, lowercase

80
80

In [18]:
# Series Operations
# Grab just the index keys

print(sales_Q1.keys())

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [20]:
# Can perform operations broadcasted across entire series

print(sales_Q1*2)
print(sales_Q2/100)

#This is possible because Dataframes interally use NumPy Arrays

Japan     160
China     900
India    4000
USA       400
dtype: int64
Brazil    1.0
China     5.0
India     2.7
USA       2.6
dtype: float64

In [21]:
# Pandas informs of mismatch with NaN
print(sales_Q1 + sales_Q2)

Brazil       NaN
China      950.0
India     2270.0
Japan        NaN
USA        460.0
dtype: float64

In [24]:
# Can fill NaN with any matching data type value
print(sales_Q1.add(sales_Q2,fill_value=0))

Brazil     100.0
China      950.0
India     2270.0
Japan       80.0
USA        460.0
dtype: float64

# if we decontruct dataFrame, we find multiple Series with same index an dif we deconstruct series, we find Arrays working