In [1]:
import numpy as np
import pandas as pd

In [3]:
#Combining dataframes

data_one={'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']}
data_two={'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']}

one=pd.DataFrame(data_one)
two=pd.DataFrame(data_two)
print(one)
print(two)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
    C   D
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

In [4]:
#Concatenate along rows
axis0=pd.concat([one,two],axis=0)
print(axis0)

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
3   A3   B3  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1
2  NaN  NaN   C2   D2
3  NaN  NaN   C3   D3

In [5]:
axis1=pd.concat([one,two],axis=1)
print(axis1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [6]:
# how to bring them one below another?

two.columns= one.columns
print(pd.concat([one,two]))

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

In [11]:
#merge 
registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Alice','Bob','Carol','Dave']})
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Alice','Yolanda','Bob']})

print(registrations)
print(logins)

   reg_id   name
0       1  Alice
1       2    Bob
2       3  Carol
3       4   Dave
   log_id     name
0       1   Xavier
1       2    Alice
2       3  Yolanda
3       4      Bob

In [12]:
merged_df = pd.merge(registrations,logins,how='inner',on='name')
print(merged_df)

   reg_id   name  log_id
0       1  Alice       2
1       2    Bob       4

In [13]:
merged_df = pd.merge(registrations,logins,how='inner')
print(merged_df)

   reg_id   name  log_id
0       1  Alice       2
1       2    Bob       4

In [14]:
merged_df = pd.merge(registrations,logins,how='left')
print(merged_df)

   reg_id   name  log_id
0       1  Alice     2.0
1       2    Bob     4.0
2       3  Carol     NaN
3       4   Dave     NaN

In [15]:
merged_df = pd.merge(registrations,logins,how='right')
print(merged_df)

   reg_id     name  log_id
0     NaN   Xavier       1
1     1.0    Alice       2
2     NaN  Yolanda       3
3     2.0      Bob       4

In [16]:
merged_df = pd.merge(registrations,logins,how='outer')
print(merged_df)

   reg_id     name  log_id
0     1.0    Alice     2.0
1     2.0      Bob     4.0
2     3.0    Carol     NaN
3     4.0     Dave     NaN
4     NaN   Xavier     1.0
5     NaN  Yolanda     3.0

In [18]:
merged_df = pd.merge(registrations,logins)
print(merged_df)

   reg_id   name  log_id
0       1  Alice       2
1       2    Bob       4