In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.Series([1,2,3,4,5])
print(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
data_list = data.tolist()

# Display the list and its type
print("List:", data_list)
print("Type:", type(data_list))

List: [1, 2, 3, 4, 5]
Type: <class 'list'>

In [4]:
# Create two Pandas Series
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])

# Perform addition
add = series1 + series2
print("Addition:\n", add)

# Perform subtraction
sub = series1 - series2
print("\nSubtraction:\n", sub)

# Perform multiplication
mul = series1 * series2
print("\nMultiplication:\n", mul)

# Perform division
div = series1 / series2
print("\nDivision:\n", div)

Addition:
 0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtraction:
 0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiplication:
 0     2
1    12
2    30
3    56
4    90
dtype: int64

Division:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [5]:
# Create two Pandas Series
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 10])

# Compare the elements of the two series
print("Equality:\n", series1 == series2)
print("\nGreater than:\n", series1 > series2)
print("\nLess than:\n", series1 < series2)

Equality:
 0    False
1    False
2    False
3    False
4     True
dtype: bool

Greater than:
 0     True
1     True
2     True
3     True
4    False
dtype: bool

Less than:
 0    False
1    False
2    False
3    False
4    False
dtype: bool

In [6]:
# Create a dictionary
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

# Convert the dictionary to a Pandas Series
series = pd.Series(dict)

# Display the series
print(series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [7]:
# Create a NumPy array
array = np.array([10, 20, 30, 40, 50])

# Convert the NumPy array to a Pandas Series
series = pd.Series(array)

# Display the series
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [8]:
# Create the original data series
original_series = pd.Series(['100', '200', 'python', '300.12', '400'])

# Change the data type to numeric
numeric_series = pd.to_numeric(original_series, errors='coerce')

print(numeric_series)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [9]:
# Create the original dataframe
data = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(data)

# Convert the first column as a Series
col1_series = df['col1']

print(col1_series)

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [10]:
# Create a series of lists
data = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])

# Convert series of lists to one series
result = data.apply(pd.Series).stack().reset_index(drop=True)

# Print the result
print("Original Series of list")
print(data)
print("\nOne Series")
print(result)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [11]:
# Create a series
s = pd.Series(['python', 'java', 'c++', 'rust', 'dart'])

# Sort the series
sorted_series = s.sort_values()

# Print the original and sorted series
print("Original Data Series:")
print(s)
print("\nSorted Series:")
print(sorted_series)

Original Data Series:
0    python
1      java
2       c++
3      rust
4      dart
dtype: object

Sorted Series:
2       c++
4      dart
1      java
0    python
3      rust
dtype: object

In [12]:
# Create a sample Series
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)

# Add a new value to the Series
s[5] = '500'
print("\nData Series after adding some data:")
print(s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
5       500
dtype: object

In [13]:
# Create a sample Series
s = pd.Series(range(11))
print("Original Data Series:")
print(s)

# Create a subset of the Series based on a value and condition
subset = s[s < 5]
print("\nSubset of the above Data Series:")
print(subset)

Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
dtype: int64

In [14]:
# Create a sample Series with custom index
s = pd.Series([1, 2, 3, 4, 5], index=['A', 'B', 'C', 'D', 'E'])
print("Original Data Series:")
print(s)

# Change the order of index of the Series
s = s.reindex(['B', 'A', 'C', 'D', 'E'])
print("\nData Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64

Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [15]:
# Create a sample Series
s = pd.Series(np.arange(1, 11))
print("Original Data Series:")
print(s)

# Calculate the mean and standard deviation of the Series
mean = s.mean()
std_dev = s.std()

print("\nMean of the said Data Series:", mean)
print("Standard deviation of the said Data Series:", std_dev)

Original Data Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

Mean of the said Data Series: 5.5
Standard deviation of the said Data Series: 3.0276503540974917

In [16]:
# Create two sample Series
sr1 = pd.Series([1, 2, 3, 4, 5])
sr2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)

# Get the items of sr1 not present in sr2
items_not_present = sr1[~sr1.isin(sr2)]
print("\nItems of sr1 not present in sr2:")
print(items_not_present)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

In [17]:
# Original Series
sr1 = pd.Series([1, 2, 3, 4, 5])
print("sr1:")
print(sr1)

sr2 = pd.Series([2, 4, 6, 8, 10])
print("\nsr2:")
print(sr2)

# Finding items of a given series not present in another given series
sr = pd.concat([sr1, sr2]).drop_duplicates(keep=False)
print("\nItems of a given series not present in another given series:")
print(sr)

sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64

sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of a given series not present in another given series:
0     1
2     3
4     5
2     6
3     8
4    10
dtype: int64

In [18]:
# Original Series
data = np.array([3.000938, 11.370722, 14.612143, 14.118931, 8.247458, 5.526727])
s = pd.Series(data)
print("Original Series:")
print(s)

# Compute the minimum, 25th percentile, median, 75th, and maximum
result = np.percentile(s, [0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0     3.000938
1    11.370722
2    14.612143
3    14.118931
4     8.247458
5     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.000938    6.20690975  9.80909    13.43187875 14.612143  ]

In [19]:
# Original Series
data = [1, 7, 1, 6, 0, 4, 8]
s = pd.Series(data)
print("Original Series:")
print(s)

# Calculate the frequency counts of each unique value
freq = s.value_counts()
print("\nFrequency of each unique value of the said series:")
print(freq)

Original Series:
0    1
1    7
2    1
3    6
4    0
5    4
6    8
dtype: int64

Frequency of each unique value of the said series:
1    2
7    1
6    1
0    1
4    1
8    1
Name: count, dtype: int64

In [20]:
# Create a sample Series
s = pd.Series([3, 1, 1, 3, 3, 2, 3, 3, 1, 1, 1,3, 3])
print("Original Series:")
print(s)

# Find the most frequent value in the Series
top_freq = s.value_counts().idxmax()

# Replace all other values with 'Other'
s = s.replace(top_freq, 'Other').replace(s.value_counts().index[1], top_freq)
print("\nSeries with most frequent value replaced by 'Other':")
print(s)

Original Series:
0     3
1     1
2     1
3     3
4     3
5     2
6     3
7     3
8     1
9     1
10    1
11    3
12    3
dtype: int64

Series with most frequent value replaced by 'Other':
0     Other
1         3
2         3
3     Other
4     Other
5         2
6     Other
7     Other
8         3
9         3
10        3
11    Other
12    Other
dtype: object

In [21]:
# Create a pandas series
s = pd.Series([3,1,1,3,2,2,2,1,1,2,2,2,2,3,3])

# Display the original series
print("Original Series:")
print(s)

# Find the most frequent value
most_freq = s.value_counts().idxmax()

# Replace all other values with 'Other'
s[~s.isin([most_freq])] = 'Other'

# Display the modified series
print("\nModified Series:")
print(s)

Original Series:
0     3
1     1
2     1
3     3
4     2
5     2
6     2
7     1
8     1
9     2
10    2
11    2
12    2
13    3
14    3
dtype: int64

Modified Series:
0     Other
1     Other
2     Other
3     Other
4         2
5         2
6         2
7     Other
8     Other
9         2
10        2
11        2
12        2
13    Other
14    Other
dtype: object

C:\Users\Administrator.DAI-PC2\AppData\Local\Temp\ipykernel_20832\2986770135.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s[~s.isin([most_freq])] = 'Other'

In [22]:
# Create a pandas series
s = pd.Series([1, 9, 8, 6,15, 9, 7, 1, 1, 1])

# Display the original series
print("Original Series:")
print(s)

# Find the positions of numbers that are multiples of 5
positions = s[s % 5 == 0].index.tolist()

# Display the positions
print("\nPositions of numbers that are multiples of 5:")
print(positions)

Original Series:
0     1
1     9
2     8
3     6
4    15
5     9
6     7
7     1
8     1
9     1
dtype: int64

Positions of numbers that are multiples of 5:
[4]

In [23]:
import pandas as pd

# Create a pandas series
s = pd.Series([2, 3, 9, 0, 2, 3, 8, 1, 1, 1, 0, 0, 2, 3])

# Display the original series
print("Original Series:")
print(s)

# Specify the positions you want to extract
positions = [0, 2, 6, 11, 21]

# Extract items at given positions
extracted_items = s[s.index.isin(positions)]

# Display the extracted items
print("\nExtracted items at given positions of the series:")
print(extracted_items)

Original Series:
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     1
8     1
9     1
10    0
11    0
12    2
13    3
dtype: int64

Extracted items at given positions of the series:
0     2
2     9
6     8
11    0
dtype: int64

In [24]:
# Create two pandas series
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
s2 = pd.Series([1, 3, 5, 7, 10])

# Display the original series
print("Original Series:")
print("Series1:")
print(s1)
print("Series2:")
print(s2)

# Get the positions of items of s2 in s1
positions = s1[s1.isin(s2)].index.tolist()

# Display the positions
print("\nPositions of items of series2 in series1:")
print(positions)

Original Series:
Series1:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64

Positions of items of series2 in series1:
[0, 2, 4, 6, 9]

In [25]:
# Define the original series
s = pd.Series(['php', 'python', 'java', 'c#'])

# Function to convert first and last character of each word to upper case
def convert_first_last_char_upper(word):
    return word[0].upper() + word[1:-1] + word[-1].upper()

# Apply the function to the series
result = s.apply(convert_first_last_char_upper)

print("Original Series:")
print(s)
print("\nFirst and last character of each word to upper case:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [26]:
# Define the original series
s = pd.Series(['Php', 'Python', 'Java', 'C#'])

# Function to calculate the number of characters in each word
def count_chars(word):
    return len(word)

# Apply the function to the series
result = s.apply(count_chars)

print("Original Series:")
print(s)
print("\nNumber of characters in each word in the said series:")
print(result)

Original Series:
0       Php
1    Python
2      Java
3        C#
dtype: object

Number of characters in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

In [27]:
# Define the original series
s = pd.Series([1, 3, 5, 8, 10, 11, 15])

# Compute the difference between consecutive numbers
diff = s.diff()

# Compute the difference of differences
diff_of_diff = diff.diff()

print("Original Series:")
print(s)
print("\nDifference of differences between consecutive numbers of the said series:")
print(diff.tolist())
print(diff_of_diff.tolist())

Original Series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [43]:
import pandas as pd
ds = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(ds)
print("\nSeries of date strings to a timeseries:")
print(pd.to_datetime(ds,format='mixed'))

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [29]:
import pandas as pd
from dateutil.parser import parse
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
date_series = date_series.map(lambda x: parse(x))
print("Day of month:")
print(date_series.dt.day.tolist())
print("Day of year:")
print(date_series.dt.dayofyear.tolist())
#print("Week number:")
#ts = pd.Timestamp(2,8,2015)#, 10-02-2016, 20180307, 2014/05/06, 2016-04-12, 2019-04-06T11:20)
#print(date_series.ts.week.tolist())
print("Day of week:")
print(date_series.dt.weekday.tolist())

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]
Day of week:
[3, 6, 2, 1, 1, 5]

In [30]:
import pandas as pd

# Create a series of year-month strings
s = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print("Original Series:")
print(s)
# Convert the series of year-month strings to dates, adding the 11th day of the month
s = pd.to_datetime(s).dt.strftime('%Y-%m-') + '11'
# Convert the series back to datetime
s = pd.to_datetime(s)
print("\nNew dates:")
print(s)

Original Series:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

C:\Users\Administrator.DAI-PC2\AppData\Local\Temp\ipykernel_20832\2143912416.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  s = pd.to_datetime(s).dt.strftime('%Y-%m-') + '11'

In [31]:
# Create a series of words
s = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])

# Define a function to count vowels in a word
def count_vowels(word):
    return sum(1 for char in word if char.lower() in 'aeiou')

# Filter words that contain at least two vowels
filtered = s[s.apply(count_vowels) >= 2]

# Print the original series and the filtered words
print("Original Series:")
print(s)
print("\\nFiltered words:")
print(filtered)

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object
\nFiltered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [32]:
import pandas as pd
import numpy as np

# Create two series
s1 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
s2 = pd.Series([11, 8, 7, 5, 6, 5, 3, 4, 7, 1])

# Calculate the Euclidean distance between the two series
euclidean_distance = np.linalg.norm(s1 - s2)

# Print the original series and the Euclidean distance
print("Original series:")
print(s1)
print("\n")
print(s2)
print("\nEuclidean distance between two said series:")
print(euclidean_distance)

Original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64


0    11
1     8
2     7
3     5
4     6
5     5
6     3
7     4
8     7
9     1
dtype: int64

Euclidean distance between two said series:
16.492422502470642

In [33]:
# Create a series
s = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])

# Find the positions where the value is greater than its neighbours
positions = s[(s > s.shift()) & (s > s.shift(-1))].index

# Print the original series and the positions
print("Original series:")
print(s)
print("\nPositions of the values neighboured by smaller values on both sides:")
print(positions)

Original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Positions of the values neighboured by smaller values on both sides:
Index([1, 4, 8], dtype='int64')

In [34]:
# Define the original string
s = pd.Series(['abc def abcdef icd'])

# Count the frequency of each character
freq = s.str.split(expand=True).stack().value_counts()

# Find the least frequent character
least_freq = freq.dropna().index[-1]

# Replace white spaces with the least frequent character
result = s.str.replace(' ', least_freq)

# Print the original and modified strings
print("Original string:")
print(s[0])
print("\nModified string:")
print(result[0])

Original string:
abc def abcdef icd

Modified string:
abcicddeficdabcdeficdicd

In [35]:
import pandas as pd

# Define the original series
s = pd.Series([13.207262, 4.098685, -1.435534, 13.626760, -2.346193, 17.873884])

# Compute the autocorrelations of the series
autocorrelations = [s.autocorr(i).round(2) for i in range(len(s)-1)]

# Print the original series
print("Original series:")
print(s)

# Print the autocorrelations
print("\nAutocorrelations of the said series:")
print(autocorrelations)

Original series:
0    13.207262
1     4.098685
2    -1.435534
3    13.626760
4    -2.346193
5    17.873884
dtype: float64

Autocorrelations of the said series:
[1.0, -0.78, 0.35, -0.06, -1.0]

In [36]:
import pandas as pd
from datetime import datetime, timedelta

# Create a datetime object for the first day of the given year
year = 2019
first_day = datetime(year, 1, 1)

# Find the first Sunday of the year
while first_day.weekday() != 6:
    first_day += timedelta(days=1)

# Create a list of all Sundays in the year
sundays = []
while first_day.year == year:
    sundays.append(first_day)
    first_day += timedelta(days=7)

# Create a Pandas TimeSeries from the list of Sundays
ts = pd.Series(sundays)

# Print the TimeSeries
print("All Sundays of {}:".format(year))
print(ts)

All Sundays of 2019:
0    2019-01-06
1    2019-01-13
2    2019-01-20
3    2019-01-27
4    2019-02-03
5    2019-02-10
6    2019-02-17
7    2019-02-24
8    2019-03-03
9    2019-03-10
10   2019-03-17
11   2019-03-24
12   2019-03-31
13   2019-04-07
14   2019-04-14
15   2019-04-21
16   2019-04-28
17   2019-05-05
18   2019-05-12
19   2019-05-19
20   2019-05-26
21   2019-06-02
22   2019-06-09
23   2019-06-16
24   2019-06-23
25   2019-06-30
26   2019-07-07
27   2019-07-14
28   2019-07-21
29   2019-07-28
30   2019-08-04
31   2019-08-11
32   2019-08-18
33   2019-08-25
34   2019-09-01
35   2019-09-08
36   2019-09-15
37   2019-09-22
38   2019-09-29
39   2019-10-06
40   2019-10-13
41   2019-10-20
42   2019-10-27
43   2019-11-03
44   2019-11-10
45   2019-11-17
46   2019-11-24
47   2019-12-01
48   2019-12-08
49   2019-12-15
50   2019-12-22
51   2019-12-29
dtype: datetime64[ns]

In [37]:
df = pd.DataFrame(ts.index, columns=['index'])
df['value'] = ts.values
print(df)

    index      value
0       0 2019-01-06
1       1 2019-01-13
2       2 2019-01-20
3       3 2019-01-27
4       4 2019-02-03
5       5 2019-02-10
6       6 2019-02-17
7       7 2019-02-24
8       8 2019-03-03
9       9 2019-03-10
10     10 2019-03-17
11     11 2019-03-24
12     12 2019-03-31
13     13 2019-04-07
14     14 2019-04-14
15     15 2019-04-21
16     16 2019-04-28
17     17 2019-05-05
18     18 2019-05-12
19     19 2019-05-19
20     20 2019-05-26
21     21 2019-06-02
22     22 2019-06-09
23     23 2019-06-16
24     24 2019-06-23
25     25 2019-06-30
26     26 2019-07-07
27     27 2019-07-14
28     28 2019-07-21
29     29 2019-07-28
30     30 2019-08-04
31     31 2019-08-11
32     32 2019-08-18
33     33 2019-08-25
34     34 2019-09-01
35     35 2019-09-08
36     36 2019-09-15
37     37 2019-09-22
38     38 2019-09-29
39     39 2019-10-06
40     40 2019-10-13
41     41 2019-10-20
42     42 2019-10-27
43     43 2019-11-03
44     44 2019-11-10
45     45 2019-11-17
46     46 2019-11-24
47     47 2019-12-01
48     48 2019-12-08
49     49 2019-12-15
50     50 2019-12-22
51     51 2019-12-29

In [38]:
# Create two series
series1 = pd.Series([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
series2 = pd.Series(['p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y'])

# Stack the series vertically
vertical_stack = pd.concat([series1, series2], axis=0)

# Stack the series horizontally
horizontal_stack = pd.concat([series1, series2], axis=1)

# Print the results
print("Original Series:")
print(series1)
print(series2)
print("\nStack two given series vertically and horizontally:")
print(vertical_stack)
print(horizontal_stack)

Original Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

Stack two given series vertically and horizontally:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

In [39]:
import pandas as pd

# Create two series
series1 = pd.Series([1, 8, 7, 5, 9, 4, 7, 1])
series2 = pd.Series([1, 6, 7, 5, 9, 4, 7, 1])

# Check if the two series are equal
print("Check 2 series are equal or not?")
print(series1 == series2)

Check 2 series are equal or not?
0     True
1    False
2     True
3     True
4     True
5     True
6     True
7     True
dtype: bool

In [40]:
import pandas as pd

# Create a series
series = pd.Series([1, 3, 7, 5, 9, 4, 7, 1, 0, 9])

# Find the index of the first occurrence of the smallest value
smallest_value_index = series.idxmin()

# Find the index of the first occurrence of the largest value
largest_value_index = series.idxmax()

# Print the results
print("Original Series:")
print(series)
print("\nIndex of the first occurrence of the smallest and largest value of the said series:")
print(smallest_value_index)
print(largest_value_index)

Original Series:
0    1
1    3
2    7
3    5
4    9
5    4
6    7
7    1
8    0
9    9
dtype: int64

Index of the first occurrence of the smallest and largest value of the said series:
8
4

In [41]:
import pandas as pd
import numpy as np

# Create the DataFrame
df = pd.DataFrame({
    'W': [68.0, 75.0, 86.0, 80.0, np.nan],
    'X': [78.0, 75.0, np.nan, 80.0, 86.0],
    'Y': [84, 94, 89, 86, 86],
    'Z': [86, 97, 96, 72, 83]
})

# Create the Series
s = pd.Series([68.0, 75.0, 86.0, 80.0, np.nan])

# Check for inequality
inequality_check = df.ne(s, axis=0)

# Print the original DataFrame
print("Original DataFrame:")
print(df)

# Print the original Series
print("\nOriginal Series:")
print(s)

# Print the result of the inequality check
print("\nCheck for inequality of the said series & dataframe:")
print(inequality_check)

Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True