In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("tips.csv")
print(df)

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17
243     Michelle Hardin  3.511450e+15    Thur672

[244 rows x 11 columns]

In [3]:
#Select a single column
print(df['total_bill'])
print(type(df['total_bill']))

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64
<class 'pandas.core.series.Series'>

In [4]:
#Select Multiple Columns
print(df[['total_bill','tip']])

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [5]:
#Create new Column
df['tip_percentage'] = 100 * df ['tip']/df['total_bill']
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID  tip_percentage
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

In [6]:
df['price_per_person'] =  df ['tip']/df['size']
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2          0.505000
1       10.34  1.66    Male     No  Sun  Dinner     3          0.553333
2       21.01  3.50    Male     No  Sun  Dinner     3          1.166667
3       23.68  3.31    Male     No  Sun  Dinner     2          1.655000
4       24.59  3.61  Female     No  Sun  Dinner     4          0.902500

           Payer Name     CC Number Payment ID  tip_percentage
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

In [7]:
#Adgusting Existing Columns
df['price_per_person'] = np.round(df['price_per_person'],2)
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              0.50
1       10.34  1.66    Male     No  Sun  Dinner     3              0.55
2       21.01  3.50    Male     No  Sun  Dinner     3              1.17
3       23.68  3.31    Male     No  Sun  Dinner     2              1.66
4       24.59  3.61  Female     No  Sun  Dinner     4              0.90

           Payer Name     CC Number Payment ID  tip_percentage
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

In [8]:
#Droping a Column
df = df.drop("tip_percentage",axis=1)
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              0.50
1       10.34  1.66    Male     No  Sun  Dinner     3              0.55
2       21.01  3.50    Male     No  Sun  Dinner     3              1.17
3       23.68  3.31    Male     No  Sun  Dinner     2              1.66
4       24.59  3.61  Female     No  Sun  Dinner     4              0.90

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [9]:
#index
print(df.head())
print(df.index)

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              0.50
1       10.34  1.66    Male     No  Sun  Dinner     3              0.55
2       21.01  3.50    Male     No  Sun  Dinner     3              1.17
3       23.68  3.31    Male     No  Sun  Dinner     2              1.66
4       24.59  3.61  Female     No  Sun  Dinner     4              0.90

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251
RangeIndex(start=0, stop=244, step=1)

In [10]:
df.set_index('Payment ID')
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              0.50
1       10.34  1.66    Male     No  Sun  Dinner     3              0.55
2       21.01  3.50    Male     No  Sun  Dinner     3              1.17
3       23.68  3.31    Male     No  Sun  Dinner     2              1.66
4       24.59  3.61  Female     No  Sun  Dinner     4              0.90

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [11]:
df=df.set_index('Payment ID')
print(df.head())

            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No  Sun  Dinner     2
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4

            price_per_person          Payer Name     CC Number
Payment ID
Sun2959                 0.50  Christy Cunningham  3.560330e+15
Sun4608                 0.55      Douglas Tucker  4.478070e+15
Sun4458                 1.17      Travis Walters  6.011810e+15
Sun5260                 1.66    Nathaniel Harris  4.676140e+15
Sun2251                 0.90        Tonya Carter  4.832730e+15

In [12]:
df=df.reset_index()
print(df.head())

  Payment ID  total_bill   tip  gender smoker  day    time  size  \
0    Sun2959       16.99  1.01  Female     No  Sun  Dinner     2
1    Sun4608       10.34  1.66    Male     No  Sun  Dinner     3
2    Sun4458       21.01  3.50    Male     No  Sun  Dinner     3
3    Sun5260       23.68  3.31    Male     No  Sun  Dinner     2
4    Sun2251       24.59  3.61  Female     No  Sun  Dinner     4

   price_per_person          Payer Name     CC Number
0              0.50  Christy Cunningham  3.560330e+15
1              0.55      Douglas Tucker  4.478070e+15
2              1.17      Travis Walters  6.011810e+15
3              1.66    Nathaniel Harris  4.676140e+15
4              0.90        Tonya Carter  4.832730e+15

In [13]:
#Rows
#Get a single row
#Integer Based
print(df.iloc[0])

Payment ID                     Sun2959
total_bill                       16.99
tip                               1.01
gender                          Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                   0.5
Payer Name          Christy Cunningham
CC Number           3560330000000000.0
Name: 0, dtype: object

In [14]:
#Name Based
#First set the index to the column which will be used in locating the row
df=df.set_index('Payment ID')

print(df.loc['Sun2959'])

total_bill                       16.99
tip                               1.01
gender                          Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                   0.5
Payer Name          Christy Cunningham
CC Number           3560330000000000.0
Name: Sun2959, dtype: object

In [15]:
#Reomve A row
print(df.head())
df=df.drop('Sun2959',axis=0)
print(df.head())

            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No  Sun  Dinner     2
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4

            price_per_person          Payer Name     CC Number
Payment ID
Sun2959                 0.50  Christy Cunningham  3.560330e+15
Sun4608                 0.55      Douglas Tucker  4.478070e+15
Sun4458                 1.17      Travis Walters  6.011810e+15
Sun5260                 1.66    Nathaniel Harris  4.676140e+15
Sun2251                 0.90        Tonya Carter  4.832730e+15
            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4
Sun9679          25.29  4.71    Male     No  Sun  Dinner     4

            price_per_person        Payer Name     CC Number
Payment ID
Sun4608                 0.55    Douglas Tucker  4.478070e+15
Sun4458                 1.17    Travis Walters  6.011810e+15
Sun5260                 1.66  Nathaniel Harris  4.676140e+15
Sun2251                 0.90      Tonya Carter  4.832730e+15
Sun9679                 1.18        Erik Smith  2.131400e+14

In [16]:
#Conditions
print(df['total_bill'] < 30)

Payment ID
Sun4608    True
Sun4458    True
Sun5260    True
Sun2251    True
Sun9679    True
           ...
Sat2657    True
Sat1766    True
Sat3880    True
Sat17      True
Thur672    True
Name: total_bill, Length: 243, dtype: bool

In [17]:
bool_series = df['total_bill'] > 30 # Save in a Variable

print(bool_series)

Payment ID
Sun4608    False
Sun4458    False
Sun5260    False
Sun2251    False
Sun9679    False
           ...
Sat2657    False
Sat1766    False
Sat3880    False
Sat17      False
Thur672    False
Name: total_bill, Length: 243, dtype: bool

In [18]:
print(df[bool_series]) # Actual Results, applying the true / false condtions
#the above state ment means apply the true / false result to each row
#Extract only the rows where it is true ,  the false ones will not appear in the output

            total_bill    tip  gender smoker   day    time  size  \
Payment ID
Sun6686          35.26   5.00  Female     No   Sun  Dinner     4
Sat239           39.42   7.58    Male     No   Sat  Dinner     4
Sat6373          31.27   5.00    Male     No   Sat  Dinner     3
Sun2274          30.40   5.60    Male     No   Sun  Dinner     4
Sun9677          32.40   6.00    Male     No   Sun  Dinner     4
Sun6165          34.81   5.20  Female     No   Sun  Dinner     4
Sat8903          38.01   3.00    Male    Yes   Sat  Dinner     4
Sat8139          48.27   6.73    Male     No   Sat  Dinner     4
Thur8801         32.68   5.00    Male    Yes  Thur   Lunch     2
Thur7972         34.83   5.17  Female     No  Thur   Lunch     4
Fri9628          40.17   4.73    Male    Yes   Fri  Dinner     4
Sat6240          44.30   2.50  Female    Yes   Sat  Dinner     3
Sun591           38.07   4.00    Male     No   Sun  Dinner     3
Thur1025         34.30   6.70    Male     No  Thur   Lunch     6
Thur3621         41.19   5.00    Male     No  Thur   Lunch     5
Sun7518          48.17   5.00    Male     No   Sun  Dinner     6
Sun3719          31.71   4.50    Male     No   Sun  Dinner     4
Sat1954          50.81  10.00    Male    Yes   Sat  Dinner     3
Sun9335          31.85   3.18    Male    Yes   Sun  Dinner     2
Sun5109          32.90   3.11    Male    Yes   Sun  Dinner     2
Sun9851          34.63   3.55    Male    Yes   Sun  Dinner     2
Sun7544          34.65   3.68    Male    Yes   Sun  Dinner     4
Sun2337          45.35   3.50    Male    Yes   Sun  Dinner     3
Sun5140          40.55   3.00    Male    Yes   Sun  Dinner     2
Sun9987          30.46   2.00    Male    Yes   Sun  Dinner     5
Thur9313         43.11   5.00  Female    Yes  Thur   Lunch     4
Sat4505          38.73   3.00    Male    Yes   Sat  Dinner     4
Sat8361          30.06   2.00    Male    Yes   Sat  Dinner     3
Sat4590          48.33   9.00    Male     No   Sat  Dinner     4
Sat8863          30.14   3.09  Female    Yes   Sat  Dinner     4
Sat2929          32.83   1.17    Male    Yes   Sat  Dinner     2
Sat9777          35.83   4.67  Female     No   Sat  Dinner     3

            price_per_person             Payer Name     CC Number
Payment ID
Sun6686                 1.25           Diane Macias  4.577820e+15
Sat239                  1.90         Lance Peterson  3.542580e+15
Sat6373                 1.67      Mr. Brandon Berry  6.011530e+15
Sun2274                 1.40            Todd Cooper  5.038470e+11
Sun9677                 1.50           James Barnes  3.552000e+15
Sun6165                 1.30           Emily Daniel  4.291280e+15
Sat8903                 0.75  James Christensen DDS  3.497940e+14
Sat8139                 1.68            Brian Ortiz  6.596450e+15
Thur8801                2.50          Daniel Murphy  5.356180e+15
Thur7972                1.29            Shawna Cook  6.011790e+15
Fri9628                 1.18          Aaron Bentley  1.800270e+14
Sat6240                 0.83          Heather Cohen  3.797710e+14
Sun591                  1.33             Jeff Lopez  3.572870e+15
Thur1025                1.12         Steven Carlson  3.526520e+15
Thur3621                1.00           Eric Andrews  4.356530e+15
Sun7518                 0.83          Ryan Gonzales  3.523150e+15
Sun3719                 1.12         Michael Lawson  3.566290e+15
Sat1954                 3.33          Gregory Clark  5.473850e+15
Sun9335                 1.59            Scott Perez  3.577120e+15
Sun5109                 1.56        Nathan Reynolds  3.703070e+14
Sun9851                 1.78           Brian Bailey  3.466560e+14
Sun7544                 0.92       James Hebert DDS  6.761690e+11
Sun2337                 1.17           Jose Parsons  4.112210e+15
Sun5140                 1.50            Stephen Cox  3.547800e+15
Sun9987                 0.40          David Barrett  4.792880e+15
Thur9313                1.25            Brooke Soto  5.544900e+15
Sat4505                 0.75          Ricky Ramirez  3.478180e+14
Sat8361                 0.67          Shawn Mendoza  3.018400e+13
Sat4590                 2.25        Alex Williamson  6.762190e+11
Sat8863                 0.77           Shelby House  5.020970e+11
Sat2929                 0.58           Thomas Brown  4.284720e+15
Sat9777                 1.56         Kimberly Crane  6.761840e+11

In [21]:
print(df[df['gender']== 'Male'] )

            total_bill   tip gender smoker  day    time  size  \
Payment ID
Sun4608          10.34  1.66   Male     No  Sun  Dinner     3
Sun4458          21.01  3.50   Male     No  Sun  Dinner     3
Sun5260          23.68  3.31   Male     No  Sun  Dinner     2
Sun9679          25.29  4.71   Male     No  Sun  Dinner     4
Sun5985           8.77  2.00   Male     No  Sun  Dinner     2
...                ...   ...    ...    ...  ...     ...   ...
Sat5032          12.60  1.00   Male    Yes  Sat  Dinner     2
Sat2929          32.83  1.17   Male    Yes  Sat  Dinner     2
Sat2657          29.03  5.92   Male     No  Sat  Dinner     3
Sat3880          22.67  2.00   Male    Yes  Sat  Dinner     2
Sat17            17.82  1.75   Male     No  Sat  Dinner     2

            price_per_person          Payer Name     CC Number
Payment ID
Sun4608                 0.55      Douglas Tucker  4.478070e+15
Sun4458                 1.17      Travis Walters  6.011810e+15
Sun5260                 1.66    Nathaniel Harris  4.676140e+15
Sun9679                 1.18          Erik Smith  2.131400e+14
Sun5985                 1.00  Kristopher Johnson  2.223730e+15
...                      ...                 ...           ...
Sat5032                 0.50       Matthew Myers  3.543680e+15
Sat2929                 0.58        Thomas Brown  4.284720e+15
Sat2657                 1.97       Michael Avila  5.296070e+15
Sat3880                 1.00          Keith Wong  6.011890e+15
Sat17                   0.88        Dennis Dixon  4.375220e+12

[157 rows x 10 columns]

In [24]:
#multiple conditions
df_new = df[(df['total_bill'] > 30) & (df['gender']== 'Male')]
print(df_new)

            total_bill    tip gender smoker   day    time  size  \
Payment ID
Sat239           39.42   7.58   Male     No   Sat  Dinner     4
Sat6373          31.27   5.00   Male     No   Sat  Dinner     3
Sun2274          30.40   5.60   Male     No   Sun  Dinner     4
Sun9677          32.40   6.00   Male     No   Sun  Dinner     4
Sat8903          38.01   3.00   Male    Yes   Sat  Dinner     4
Sat8139          48.27   6.73   Male     No   Sat  Dinner     4
Thur8801         32.68   5.00   Male    Yes  Thur   Lunch     2
Fri9628          40.17   4.73   Male    Yes   Fri  Dinner     4
Sun591           38.07   4.00   Male     No   Sun  Dinner     3
Thur1025         34.30   6.70   Male     No  Thur   Lunch     6
Thur3621         41.19   5.00   Male     No  Thur   Lunch     5
Sun7518          48.17   5.00   Male     No   Sun  Dinner     6
Sun3719          31.71   4.50   Male     No   Sun  Dinner     4
Sat1954          50.81  10.00   Male    Yes   Sat  Dinner     3
Sun9335          31.85   3.18   Male    Yes   Sun  Dinner     2
Sun5109          32.90   3.11   Male    Yes   Sun  Dinner     2
Sun9851          34.63   3.55   Male    Yes   Sun  Dinner     2
Sun7544          34.65   3.68   Male    Yes   Sun  Dinner     4
Sun2337          45.35   3.50   Male    Yes   Sun  Dinner     3
Sun5140          40.55   3.00   Male    Yes   Sun  Dinner     2
Sun9987          30.46   2.00   Male    Yes   Sun  Dinner     5
Sat4505          38.73   3.00   Male    Yes   Sat  Dinner     4
Sat8361          30.06   2.00   Male    Yes   Sat  Dinner     3
Sat4590          48.33   9.00   Male     No   Sat  Dinner     4
Sat2929          32.83   1.17   Male    Yes   Sat  Dinner     2

            price_per_person             Payer Name     CC Number
Payment ID
Sat239                  1.90         Lance Peterson  3.542580e+15
Sat6373                 1.67      Mr. Brandon Berry  6.011530e+15
Sun2274                 1.40            Todd Cooper  5.038470e+11
Sun9677                 1.50           James Barnes  3.552000e+15
Sat8903                 0.75  James Christensen DDS  3.497940e+14
Sat8139                 1.68            Brian Ortiz  6.596450e+15
Thur8801                2.50          Daniel Murphy  5.356180e+15
Fri9628                 1.18          Aaron Bentley  1.800270e+14
Sun591                  1.33             Jeff Lopez  3.572870e+15
Thur1025                1.12         Steven Carlson  3.526520e+15
Thur3621                1.00           Eric Andrews  4.356530e+15
Sun7518                 0.83          Ryan Gonzales  3.523150e+15
Sun3719                 1.12         Michael Lawson  3.566290e+15
Sat1954                 3.33          Gregory Clark  5.473850e+15
Sun9335                 1.59            Scott Perez  3.577120e+15
Sun5109                 1.56        Nathan Reynolds  3.703070e+14
Sun9851                 1.78           Brian Bailey  3.466560e+14
Sun7544                 0.92       James Hebert DDS  6.761690e+11
Sun2337                 1.17           Jose Parsons  4.112210e+15
Sun5140                 1.50            Stephen Cox  3.547800e+15
Sun9987                 0.40          David Barrett  4.792880e+15
Sat4505                 0.75          Ricky Ramirez  3.478180e+14
Sat8361                 0.67          Shawn Mendoza  3.018400e+13
Sat4590                 2.25        Alex Williamson  6.762190e+11
Sat2929                 0.58           Thomas Brown  4.284720e+15

In [25]:
df_new = df[(df['total_bill'] > 30) & ~(df['gender']== 'Male')]
print(df_new)

            total_bill   tip  gender smoker   day    time  size  \
Payment ID
Sun6686          35.26  5.00  Female     No   Sun  Dinner     4
Sun6165          34.81  5.20  Female     No   Sun  Dinner     4
Thur7972         34.83  5.17  Female     No  Thur   Lunch     4
Sat6240          44.30  2.50  Female    Yes   Sat  Dinner     3
Thur9313         43.11  5.00  Female    Yes  Thur   Lunch     4
Sat8863          30.14  3.09  Female    Yes   Sat  Dinner     4
Sat9777          35.83  4.67  Female     No   Sat  Dinner     3

            price_per_person      Payer Name     CC Number
Payment ID
Sun6686                 1.25    Diane Macias  4.577820e+15
Sun6165                 1.30    Emily Daniel  4.291280e+15
Thur7972                1.29     Shawna Cook  6.011790e+15
Sat6240                 0.83   Heather Cohen  3.797710e+14
Thur9313                1.25     Brooke Soto  5.544900e+15
Sat8863                 0.77    Shelby House  5.020970e+11
Sat9777                 1.56  Kimberly Crane  6.761840e+11

In [26]:
df_new = df[(df['total_bill'] > 30) & (df['gender']!= 'Male')]
print(df_new)

            total_bill   tip  gender smoker   day    time  size  \
Payment ID
Sun6686          35.26  5.00  Female     No   Sun  Dinner     4
Sun6165          34.81  5.20  Female     No   Sun  Dinner     4
Thur7972         34.83  5.17  Female     No  Thur   Lunch     4
Sat6240          44.30  2.50  Female    Yes   Sat  Dinner     3
Thur9313         43.11  5.00  Female    Yes  Thur   Lunch     4
Sat8863          30.14  3.09  Female    Yes   Sat  Dinner     4
Sat9777          35.83  4.67  Female     No   Sat  Dinner     3

            price_per_person      Payer Name     CC Number
Payment ID
Sun6686                 1.25    Diane Macias  4.577820e+15
Sun6165                 1.30    Emily Daniel  4.291280e+15
Thur7972                1.29     Shawna Cook  6.011790e+15
Sat6240                 0.83   Heather Cohen  3.797710e+14
Thur9313                1.25     Brooke Soto  5.544900e+15
Sat8863                 0.77    Shelby House  5.020970e+11
Sat9777                 1.56  Kimberly Crane  6.761840e+11

In [28]:
df_new = df[(df['total_bill'] > 30) | (df['tip'] > 5)]
print(df_new)

            total_bill    tip  gender smoker   day    time  size  \
Payment ID
Sun6686          35.26   5.00  Female     No   Sun  Dinner     4
Sat239           39.42   7.58    Male     No   Sat  Dinner     4
Sat6373          31.27   5.00    Male     No   Sat  Dinner     3
Sun2274          30.40   5.60    Male     No   Sun  Dinner     4
Sun9677          32.40   6.00    Male     No   Sun  Dinner     4
Sun6165          34.81   5.20  Female     No   Sun  Dinner     4
Sat8903          38.01   3.00    Male    Yes   Sat  Dinner     4
Sat8139          48.27   6.73    Male     No   Sat  Dinner     4
Thur8801         32.68   5.00    Male    Yes  Thur   Lunch     2
Thur7972         34.83   5.17  Female     No  Thur   Lunch     4
Thur9003         24.71   5.85    Male     No  Thur   Lunch     2
Fri9628          40.17   4.73    Male    Yes   Fri  Dinner     4
Sat6240          44.30   2.50  Female    Yes   Sat  Dinner     3
Sun591           38.07   4.00    Male     No   Sun  Dinner     3
Sun22            29.93   5.07    Male     No   Sun  Dinner     4
Thur1025         34.30   6.70    Male     No  Thur   Lunch     6
Thur3621         41.19   5.00    Male     No  Thur   Lunch     5
Sun9176          29.85   5.14  Female     No   Sun  Dinner     5
Sun7518          48.17   5.00    Male     No   Sun  Dinner     6
Sun3719          31.71   4.50    Male     No   Sun  Dinner     4
Sat1954          50.81  10.00    Male    Yes   Sat  Dinner     3
Sun9209           7.25   5.15    Male    Yes   Sun  Dinner     2
Sun9335          31.85   3.18    Male    Yes   Sun  Dinner     2
Sun5109          32.90   3.11    Male    Yes   Sun  Dinner     2
Sun9851          34.63   3.55    Male    Yes   Sun  Dinner     2
Sun7544          34.65   3.68    Male    Yes   Sun  Dinner     4
Sun3402          23.33   5.65    Male    Yes   Sun  Dinner     2
Sun2337          45.35   3.50    Male    Yes   Sun  Dinner     3
Sun6059          23.17   6.50    Male    Yes   Sun  Dinner     4
Sun5140          40.55   3.00    Male    Yes   Sun  Dinner     2
Sun9987          30.46   2.00    Male    Yes   Sun  Dinner     5
Thur9313         43.11   5.00  Female    Yes  Thur   Lunch     4
Sat4505          38.73   3.00    Male    Yes   Sat  Dinner     4
Sat8361          30.06   2.00    Male    Yes   Sat  Dinner     3
Sat6735          25.89   5.16    Male    Yes   Sat  Dinner     4
Sat4590          48.33   9.00    Male     No   Sat  Dinner     4
Sat3374          28.17   6.50  Female    Yes   Sat  Dinner     3
Sat8863          30.14   3.09  Female    Yes   Sat  Dinner     4
Sat2929          32.83   1.17    Male    Yes   Sat  Dinner     2
Sat9777          35.83   4.67  Female     No   Sat  Dinner     3
Sat2657          29.03   5.92    Male     No   Sat  Dinner     3

            price_per_person             Payer Name     CC Number
Payment ID
Sun6686                 1.25           Diane Macias  4.577820e+15
Sat239                  1.90         Lance Peterson  3.542580e+15
Sat6373                 1.67      Mr. Brandon Berry  6.011530e+15
Sun2274                 1.40            Todd Cooper  5.038470e+11
Sun9677                 1.50           James Barnes  3.552000e+15
Sun6165                 1.30           Emily Daniel  4.291280e+15
Sat8903                 0.75  James Christensen DDS  3.497940e+14
Sat8139                 1.68            Brian Ortiz  6.596450e+15
Thur8801                2.50          Daniel Murphy  5.356180e+15
Thur7972                1.29            Shawna Cook  6.011790e+15
Thur9003                2.92           Roger Taylor  4.410250e+12
Fri9628                 1.18          Aaron Bentley  1.800270e+14
Sat6240                 0.83          Heather Cohen  3.797710e+14
Sun591                  1.33             Jeff Lopez  3.572870e+15
Sun22                   1.27            Shawn Blake  4.689080e+15
Thur1025                1.12         Steven Carlson  3.526520e+15
Thur3621                1.00           Eric Andrews  4.356530e+15
Sun9176                 1.03         Madison Wilson  4.210880e+15
Sun7518                 0.83          Ryan Gonzales  3.523150e+15
Sun3719                 1.12         Michael Lawson  3.566290e+15
Sat1954                 3.33          Gregory Clark  5.473850e+15
Sun9209                 2.58            Larry White  3.043260e+13
Sun9335                 1.59            Scott Perez  3.577120e+15
Sun5109                 1.56        Nathan Reynolds  3.703070e+14
Sun9851                 1.78           Brian Bailey  3.466560e+14
Sun7544                 0.92       James Hebert DDS  6.761690e+11
Sun3402                 2.82              Jason Cox  6.556930e+15
Sun2337                 1.17           Jose Parsons  4.112210e+15
Sun6059                 1.62      Dr. Michael James  4.718500e+12
Sun5140                 1.50            Stephen Cox  3.547800e+15
Sun9987                 0.40          David Barrett  4.792880e+15
Thur9313                1.25            Brooke Soto  5.544900e+15
Sat4505                 0.75          Ricky Ramirez  3.478180e+14
Sat8361                 0.67          Shawn Mendoza  3.018400e+13
Sat6735                 1.29         Christopher Li  6.011960e+15
Sat4590                 2.25        Alex Williamson  6.762190e+11
Sat3374                 2.17        Marissa Jackson  4.922300e+15
Sat8863                 0.77           Shelby House  5.020970e+11
Sat2929                 0.58           Thomas Brown  4.284720e+15
Sat9777                 1.56         Kimberly Crane  6.761840e+11
Sat2657                 1.97          Michael Avila  5.296070e+15

In [30]:
#conditional is in operator
options = ['Sat','Sun']
print(df['day'].isin(options))

Payment ID
Sun4608     True
Sun4458     True
Sun5260     True
Sun2251     True
Sun9679     True
           ...
Sat2657     True
Sat1766     True
Sat3880     True
Sat17       True
Thur672    False
Name: day, Length: 243, dtype: bool

In [31]:
print(df[df['day'].isin(['Sat','Sun'])])

            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4
Sun9679          25.29  4.71    Male     No  Sun  Dinner     4
...                ...   ...     ...    ...  ...     ...   ...
Sat9777          35.83  4.67  Female     No  Sat  Dinner     3
Sat2657          29.03  5.92    Male     No  Sat  Dinner     3
Sat1766          27.18  2.00  Female    Yes  Sat  Dinner     2
Sat3880          22.67  2.00    Male    Yes  Sat  Dinner     2
Sat17            17.82  1.75    Male     No  Sat  Dinner     2

            price_per_person        Payer Name     CC Number
Payment ID
Sun4608                 0.55    Douglas Tucker  4.478070e+15
Sun4458                 1.17    Travis Walters  6.011810e+15
Sun5260                 1.66  Nathaniel Harris  4.676140e+15
Sun2251                 0.90      Tonya Carter  4.832730e+15
Sun9679                 1.18        Erik Smith  2.131400e+14
...                      ...               ...           ...
Sat9777                 1.56    Kimberly Crane  6.761840e+11
Sat2657                 1.97     Michael Avila  5.296070e+15
Sat1766                 1.00    Monica Sanders  3.506810e+15
Sat3880                 1.00        Keith Wong  6.011890e+15
Sat17                   0.88      Dennis Dixon  4.375220e+12

[162 rows x 10 columns]

In [ ]:
#sorting