In [3]:
import pandas as pd

# Using named index
# Imaginary Sales Data for 1st and 2nd Quarters for a Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

# Convert into Pandas Series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

print(sales_Q1)
print(sales_Q2)

# Call values based on Named Index
print(sales_Q1['Japan'])

# Integer Based Location information also retained!
print(sales_Q1[0])


# Be careful with potential errors!

# Wrong Name
# print(sales_Q1['France'])

# Accidental Extra Space
# print(sales_Q1['USA '])

# Text case Mistake
# print(sales_Q1['usa'])



# Series operations
# Grab just the index keys
print(sales_Q1.keys())

# Can Perform Operations Broadcasted across entire Series
print(sales_Q1 * 2)

print(sales_Q2 / 100)


# Notice how Pandas informs you of mismatch with NaN
print(sales_Q1 + sales_Q2)

# You can fill NAN with any matching data type value you want
print(sales_Q1.add(sales_Q2,fill_value=0))

Japan     80
China    450
India    200
USA      250
dtype: int64
Brazil    100
China     500
India     210
USA       260
dtype: int64
80
80
Index(['Japan', 'China', 'India', 'USA'], dtype='object')
Japan    160
China    900
India    400
USA      500
dtype: int64
Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64
Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64
Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64