In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('movie_scores.csv')
print(df)

  first_name last_name   age gender  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0      m              8.0              10.0
1        NaN       NaN   NaN    NaN              NaN               NaN
2       Hugh   Jackman  51.0      m              NaN               NaN
3      Oprah   Winfrey  66.0      f              6.0               8.0
4       Emma     Stone  31.0      f              7.0               9.0

In [4]:
# Checking and selecting for null values

print(df.isnull())  # True if column is null, else false
print(df.notnull())  # True if column is not null, else false

   first_name  last_name    age  gender  pre_movie_score  post_movie_score
0       False      False  False   False            False             False
1        True       True   True    True             True              True
2       False      False  False   False             True              True
3       False      False  False   False            False             False
4       False      False  False   False            False             False
   first_name  last_name    age  gender  pre_movie_score  post_movie_score
0        True       True   True    True             True              True
1       False      False  False   False            False             False
2        True       True   True    True            False             False
3        True       True   True    True             True              True
4        True       True   True    True             True              True

In [5]:
print(df['first_name'])

0      Tom
1      NaN
2     Hugh
3    Oprah
4     Emma
Name: first_name, dtype: object

In [6]:
print(df[df['first_name'].notnull()])

  first_name last_name   age gender  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0      m              8.0              10.0
2       Hugh   Jackman  51.0      m              NaN               NaN
3      Oprah   Winfrey  66.0      f              6.0               8.0
4       Emma     Stone  31.0      f              7.0               9.0

In [8]:
print(df[(df['pre_movie_score'].isnull()) & df['gender'].notnull()])

  first_name last_name   age gender  pre_movie_score  post_movie_score
2       Hugh   Jackman  51.0      m              NaN               NaN

In [12]:
# Dropna
# Drop if any column contains a null
print(df.dropna())

  first_name last_name   age gender  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0      m              8.0              10.0
3      Oprah   Winfrey  66.0      f              6.0               8.0
4       Emma     Stone  31.0      f              7.0               9.0

In [13]:
# Any row with atleast one non-null value is retained
print(df.dropna(thresh = 1))

  first_name last_name   age gender  pre_movie_score  post_movie_score
0        Tom     Hanks  63.0      m              8.0              10.0
2       Hugh   Jackman  51.0      m              NaN               NaN
3      Oprah   Winfrey  66.0      f              6.0               8.0
4       Emma     Stone  31.0      f              7.0               9.0

In [14]:
# Drop a column that contains atleast one null
print(df.dropna(axis = 1))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [15]:
# A column must have atleaast 4 non-null values to be retained
print(df.dropna(thresh = 4, axis = 1))

  first_name last_name   age gender
0        Tom     Hanks  63.0      m
1        NaN       NaN   NaN    NaN
2       Hugh   Jackman  51.0      m
3      Oprah   Winfrey  66.0      f
4       Emma     Stone  31.0      f

In [16]:
# Fill data
df.fillna("NEW VALUE!")

print(df['first_name'].fillna("Empty"))
df['first_name'] = (df['first_name'].fillna("Empty"))

0      Tom
1    Empty
2     Hugh
3    Oprah
4     Emma
Name: first_name, dtype: object

In [17]:
# Fill nulls with average
print(df['pre_movie_score'].mean())
df['pre_movie_score'].fillna(df['pre_movie_score'].mean())

7.0

0    8.0
1    7.0
2    7.0
3    6.0
4    7.0
Name: pre_movie_score, dtype: float64