In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create a dataframe from a CSV file
df = pd.read_csv('tips.csv')
print(df)

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
0         16.99  1.01  Female     No   Sun  Dinner     2              8.49
1         10.34  1.66    Male     No   Sun  Dinner     3              3.45
2         21.01  3.50    Male     No   Sun  Dinner     3              7.00
3         23.68  3.31    Male     No   Sun  Dinner     2             11.84
4         24.59  3.61  Female     No   Sun  Dinner     4              6.15
..          ...   ...     ...    ...   ...     ...   ...               ...
239       29.03  5.92    Male     No   Sat  Dinner     3              9.68
240       27.18  2.00  Female    Yes   Sat  Dinner     2             13.59
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

             Payer Name     CC Number Payment ID
0    Christy Cunningham  3.560330e+15    Sun2959
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
4          Tonya Carter  4.832730e+15    Sun2251
..                  ...           ...        ...
239       Michael Avila  5.296070e+15    Sat2657
240      Monica Sanders  3.506810e+15    Sat1766
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17
243     Michelle Hardin  3.511450e+15    Thur672

[244 rows x 11 columns]

In [3]:
print(df.columns)  # Column names

Index(['total_bill', 'tip', 'gender', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

In [4]:
print(df.index)     # Index

RangeIndex(start=0, stop=244, step=1)

In [5]:
print(df.head(3))    # First 3 rows

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458

In [6]:
print(df.tail(3))    # Last 3 rows

     total_bill   tip  gender smoker   day    time  size  price_per_person  \
241       22.67  2.00    Male    Yes   Sat  Dinner     2             11.34
242       17.82  1.75    Male     No   Sat  Dinner     2              8.91
243       18.78  3.00  Female     No  Thur  Dinner     2              9.39

          Payer Name     CC Number Payment ID
241       Keith Wong  6.011890e+15    Sat3880
242     Dennis Dixon  4.375220e+12      Sat17
243  Michelle Hardin  3.511450e+15    Thur672

In [7]:
print(df.info())    # Info about df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   gender            244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   size              244 non-null    int64
 7   price_per_person  244 non-null    float64
 8   Payer Name        244 non-null    object
 9   CC Number         244 non-null    float64
 10  Payment ID        244 non-null    object
dtypes: float64(4), int64(1), object(6)
memory usage: 21.1+ KB
None

In [8]:
print(len(df))     # Number of rows

244

In [9]:
print(df.describe())   # Statistical Summary

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563495e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040732e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525320e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596450e+15

In [10]:
print(df.describe().transpose())    # Organized Statistical Summary

                  count          mean           std           min  \
total_bill        244.0  1.978594e+01  8.902412e+00  3.070000e+00
tip               244.0  2.998279e+00  1.383638e+00  1.000000e+00
size              244.0  2.569672e+00  9.510998e-01  1.000000e+00
price_per_person  244.0  7.888197e+00  2.914234e+00  2.880000e+00
CC Number         244.0  2.563495e+15  2.369340e+15  6.040679e+10

                           25%           50%           75%           max
total_bill        1.334750e+01  1.779500e+01  2.412750e+01  5.081000e+01
tip               2.000000e+00  2.900000e+00  3.562500e+00  1.000000e+01
size              2.000000e+00  2.000000e+00  3.000000e+00  6.000000e+00
price_per_person  5.800000e+00  7.255000e+00  9.390000e+00  2.027000e+01
CC Number         3.040732e+13  3.525320e+15  4.553675e+15  6.596450e+15

In [11]:
print(df['total_bill'])

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [12]:
print(df[['total_bill','tip']])

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [13]:
# Select Multiple Columns
# Note how it's a python list of column names! Thus the double brackets
df['tip_percentage'] = 100 * df['tip'] / df['total_bill']
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID  tip_percentage
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

In [14]:
df['prce_per_person'] = df['total_bill'] / df['size']
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID  tip_percentage  \
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

   prce_per_person
0         8.495000
1         3.446667
2         7.003333
3        11.840000
4         6.147500

In [15]:
# Adjusting Existing Columns
df['price_per_person'] = np.round(df['price_per_person'],2)
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID  tip_percentage  \
0  Christy Cunningham  3.560330e+15    Sun2959        5.944673
1      Douglas Tucker  4.478070e+15    Sun4608       16.054159
2      Travis Walters  6.011810e+15    Sun4458       16.658734
3    Nathaniel Harris  4.676140e+15    Sun5260       13.978041
4        Tonya Carter  4.832730e+15    Sun2251       14.680765

   prce_per_person
0         8.495000
1         3.446667
2         7.003333
3        11.840000
4         6.147500

In [16]:
# Remove Columns
df = df.drop('tip_percentage',axis=1)
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID  prce_per_person
0  Christy Cunningham  3.560330e+15    Sun2959         8.495000
1      Douglas Tucker  4.478070e+15    Sun4608         3.446667
2      Travis Walters  6.011810e+15    Sun4458         7.003333
3    Nathaniel Harris  4.676140e+15    Sun5260        11.840000
4        Tonya Carter  4.832730e+15    Sun2251         6.147500

In [17]:
# Index
print(df.head())
print(df.index)

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID  prce_per_person
0  Christy Cunningham  3.560330e+15    Sun2959         8.495000
1      Douglas Tucker  4.478070e+15    Sun4608         3.446667
2      Travis Walters  6.011810e+15    Sun4458         7.003333
3    Nathaniel Harris  4.676140e+15    Sun5260        11.840000
4        Tonya Carter  4.832730e+15    Sun2251         6.147500
RangeIndex(start=0, stop=244, step=1)

In [18]:
df = df.set_index('Payment ID')
print(df.head())

            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No  Sun  Dinner     2
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4

            price_per_person          Payer Name     CC Number  \
Payment ID
Sun2959                 8.49  Christy Cunningham  3.560330e+15
Sun4608                 3.45      Douglas Tucker  4.478070e+15
Sun4458                 7.00      Travis Walters  6.011810e+15
Sun5260                11.84    Nathaniel Harris  4.676140e+15
Sun2251                 6.15        Tonya Carter  4.832730e+15

            prce_per_person
Payment ID
Sun2959            8.495000
Sun4608            3.446667
Sun4458            7.003333
Sun5260           11.840000
Sun2251            6.147500

In [19]:
# Set it to the default integer values
df = df.reset_index('Payment ID')
print(df.head())

  Payment ID  total_bill   tip  gender smoker  day    time  size  \
0    Sun2959       16.99  1.01  Female     No  Sun  Dinner     2
1    Sun4608       10.34  1.66    Male     No  Sun  Dinner     3
2    Sun4458       21.01  3.50    Male     No  Sun  Dinner     3
3    Sun5260       23.68  3.31    Male     No  Sun  Dinner     2
4    Sun2251       24.59  3.61  Female     No  Sun  Dinner     4

   price_per_person          Payer Name     CC Number  prce_per_person
0              8.49  Christy Cunningham  3.560330e+15         8.495000
1              3.45      Douglas Tucker  4.478070e+15         3.446667
2              7.00      Travis Walters  6.011810e+15         7.003333
3             11.84    Nathaniel Harris  4.676140e+15        11.840000
4              6.15        Tonya Carter  4.832730e+15         6.147500

In [20]:
# Rows
# Get a single row
# Integer Based
print(df.iloc[0])

Payment ID                     Sun2959
total_bill                       16.99
tip                               1.01
gender                          Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number           3560330000000000.0
prce_per_person                  8.495
Name: 0, dtype: object

In [21]:
# Name Based
# First set the index to the column which will be used in locating the row
df = df.set_index('Payment ID')
print(df.head())

            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No  Sun  Dinner     2
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4

            price_per_person          Payer Name     CC Number  \
Payment ID
Sun2959                 8.49  Christy Cunningham  3.560330e+15
Sun4608                 3.45      Douglas Tucker  4.478070e+15
Sun4458                 7.00      Travis Walters  6.011810e+15
Sun5260                11.84    Nathaniel Harris  4.676140e+15
Sun2251                 6.15        Tonya Carter  4.832730e+15

            prce_per_person
Payment ID
Sun2959            8.495000
Sun4608            3.446667
Sun4458            7.003333
Sun5260           11.840000
Sun2251            6.147500

In [23]:
# print(df.iloc['Sun2959']) doesn't work

In [ ]:
# Conditions
print(df['total_bill'] > 30)  #True/False

In [ ]:
bool_series = df['total_bill'] > 30    # Save in a variable
print(bool_series)
print(bool_series.head(25))

In [ ]:
print(df[bool_series])
# Actual Result, applying the true/false conditions
# The above statement means apply the true/false result to each row
# Extract only rows where it is true, so the false ones will not appear in the output.

In [ ]:
print(df[df['total_bill'] > 30])  # Same as above

In [ ]:
print(df['total_bill'] > 30)   # Boolean Result
print(df[df['total_bill'] > 30])  # Actual Filtered result

In [ ]:
print(df[df['gender'] == 'Male'])

In [ ]:
# Multiple Conditions
df_new = df[(df['total_bill'] > 30) & (df['gender'] == 'Male')]  # Both True
print(df_new)

In [24]:
# Multiple Conditions
df_new = df[(df['total_bill'] > 30) & ~(df['gender'] == 'Male')]    #Not outside the condition 
print(df_new)

            total_bill   tip  gender smoker   day    time  size  \
Payment ID
Sun6686          35.26  5.00  Female     No   Sun  Dinner     4
Sun6165          34.81  5.20  Female     No   Sun  Dinner     4
Thur7972         34.83  5.17  Female     No  Thur   Lunch     4
Sat6240          44.30  2.50  Female    Yes   Sat  Dinner     3
Thur9313         43.11  5.00  Female    Yes  Thur   Lunch     4
Sat8863          30.14  3.09  Female    Yes   Sat  Dinner     4
Sat9777          35.83  4.67  Female     No   Sat  Dinner     3

            price_per_person      Payer Name     CC Number  prce_per_person
Payment ID
Sun6686                 8.82    Diane Macias  4.577820e+15         8.815000
Sun6165                 8.70    Emily Daniel  4.291280e+15         8.702500
Thur7972                8.71     Shawna Cook  6.011790e+15         8.707500
Sat6240                14.77   Heather Cohen  3.797710e+14        14.766667
Thur9313               10.78     Brooke Soto  5.544900e+15        10.777500
Sat8863                 7.54    Shelby House  5.020970e+11         7.535000
Sat9777                11.94  Kimberly Crane  6.761840e+11        11.943333

In [25]:
# Multiple Conditions
df_new = df[(df['total_bill'] > 30) & (df['gender'] != 'Male')]    #Not while comparing
print(df_new)

            total_bill   tip  gender smoker   day    time  size  \
Payment ID
Sun6686          35.26  5.00  Female     No   Sun  Dinner     4
Sun6165          34.81  5.20  Female     No   Sun  Dinner     4
Thur7972         34.83  5.17  Female     No  Thur   Lunch     4
Sat6240          44.30  2.50  Female    Yes   Sat  Dinner     3
Thur9313         43.11  5.00  Female    Yes  Thur   Lunch     4
Sat8863          30.14  3.09  Female    Yes   Sat  Dinner     4
Sat9777          35.83  4.67  Female     No   Sat  Dinner     3

            price_per_person      Payer Name     CC Number  prce_per_person
Payment ID
Sun6686                 8.82    Diane Macias  4.577820e+15         8.815000
Sun6165                 8.70    Emily Daniel  4.291280e+15         8.702500
Thur7972                8.71     Shawna Cook  6.011790e+15         8.707500
Sat6240                14.77   Heather Cohen  3.797710e+14        14.766667
Thur9313               10.78     Brooke Soto  5.544900e+15        10.777500
Sat8863                 7.54    Shelby House  5.020970e+11         7.535000
Sat9777                11.94  Kimberly Crane  6.761840e+11        11.943333

In [ ]:
# Conditional is in operator
options = ['Sat','Sun']
print(df['day'].isin(options))
# We use this method to avoid complex conditions in one statement

In [ ]:
df1 = (df['day'].isin(options))
print(df[df1])

In [ ]:
print(df[df['day'].isin(['Sat','Sun'])])   # Other way

In [ ]:
# Sorting
print(df.sort_values('tip'))

In [ ]:
# Correlaton
print(df[['total_bill','tip']].corr())

In [26]:
# Value count
print(df['smoker'].value_counts())   # Smokers and non-smokers
print(df['gender'].value_counts())   # Males and Females

No     151
Yes     93
Name: smoker, dtype: int64
Male      157
Female     87
Name: gender, dtype: int64

In [27]:
# Unique
print(df['size'].unique())  # All the unique values as an array
print(df['size'].nunique())  # Number of unique values
print(df['time'].unique())  # For char column

[2 3 4 1 6 5]
6
['Dinner' 'Lunch']

In [28]:
# Between: options for inclusive are both, left, right, neither
print(df['total_bill'].between(10,20,inclusive='both'))   # True/False
print(df[df['total_bill'].between(10,20,inclusive='both')])   # Actual Data

Payment ID
Sun2959     True
Sun4608     True
Sun4458    False
Sun5260    False
Sun2251    False
           ...
Sat2657    False
Sat1766    False
Sat3880    False
Sat17       True
Thur672     True
Name: total_bill, Length: 244, dtype: bool
            total_bill   tip  gender smoker   day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No   Sun  Dinner     2
Sun4608          10.34  1.66    Male     No   Sun  Dinner     3
Sun6820          15.04  1.96    Male     No   Sun  Dinner     2
Sun3775          14.78  3.23    Male     No   Sun  Dinner     2
Sun2546          10.27  1.71    Male     No   Sun  Dinner     2
...                ...   ...     ...    ...   ...     ...   ...
Sat7220          15.53  3.00    Male    Yes   Sat  Dinner     2
Sat4615          10.07  1.25    Male     No   Sat  Dinner     2
Sat5032          12.60  1.00    Male    Yes   Sat  Dinner     2
Sat17            17.82  1.75    Male     No   Sat  Dinner     2
Thur672          18.78  3.00  Female     No  Thur  Dinner     2

            price_per_person          Payer Name     CC Number  \
Payment ID
Sun2959                 8.49  Christy Cunningham  3.560330e+15
Sun4608                 3.45      Douglas Tucker  4.478070e+15
Sun6820                 7.52     Joseph Mcdonald  3.522870e+15
Sun3775                 7.39       Jerome Abbott  3.532120e+15
Sun2546                 5.14       William Riley  5.662880e+11
...                      ...                 ...           ...
Sat7220                 7.76       Tracy Douglas  4.097940e+15
Sat4615                 5.04       Sean Gonzalez  3.534020e+15
Sat5032                 6.30       Matthew Myers  3.543680e+15
Sat17                   8.91        Dennis Dixon  4.375220e+12
Thur672                 9.39     Michelle Hardin  3.511450e+15

            prce_per_person
Payment ID
Sun2959            8.495000
Sun4608            3.446667
Sun6820            7.520000
Sun3775            7.390000
Sun2546            5.135000
...                     ...
Sat7220            7.765000
Sat4615            5.035000
Sat5032            6.300000
Sat17              8.910000
Thur672            9.390000

[130 rows x 11 columns]