In [1]:
import numpy as np
import pandas as pd

1. Write a Pandas program to detect missing values of a given DataFrame.
   Display True or False.

In [7]:
column = ['ord_no', 'purch_amt', 'ord_date', 'customer_id', 'salesman_id']
data = [
    [70001.0, 150.50, '2012-10-05', 3002, 5002.0],
    [np.nan, 270.65, '2012-09-10', 3001, 5003.0],
    [70002.0, 65.26, np.nan, 3001, 5001.0],
    [70004.0, 110.50, '2012-08-17', 3003, np.nan],
    [np.nan, 948.50, '2012-09-10', 3002, 5002.0],
    [70005.0, 2400.60, '2012-07-27', 3001, 5001.0],
    [np.nan, 5760.00, '2012-09-10', 3001, 5001.0],
    [70010.0, 1983.43, '2012-10-10', 3004, np.nan],
    [70003.0, 2480.40, '2012-10-10', 3003, 5003.0],
    [70012.0, 250.45, '2012-06-27', 3002, 5002.0],
    [np.nan, 75.29, '2012-08-17', 3001, 5003.0],
    [70013.0, 3045.60, '2012-04-25', 3001, np.nan]
]
df = pd.DataFrame(data, columns = column)

print(df)

missing_values = df.isnull()
print("\nMissing Values- True/False\n")
print(missing_values)

     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

Missing Values- True/False

    ord_no  purch_amt  ord_date  customer_id  salesman_id
0    False      False     False        False        False
1     True      False     False        False        False
2    False      False      True        False        False
3    False      False     False        False         True
4     True      False     False        False        False
5    False      False     False        False        False
6     True      False     False        False        False
7    False      False     False        False         True
8    False      False     False        False        False
9    False      False     False        False        False
10    True      False     False        False        False
11   False      False     False        False         True

2. Write a Pandas program to identify the column(s) of a given DataFrame which have at least one missing value.

In [9]:
column = ['ord_no', 'purch_amt', 'ord_date', 'customer_id', 'salesman_id']
data = [
    [70001.0, 150.50, '2012-10-05', 3002, 5002.0],
    [np.nan, 270.65, '2012-09-10', 3001, 5003.0],
    [70002.0, 65.26, np.nan, 3001, 5001.0],
    [70004.0, 110.50, '2012-08-17', 3003, np.nan],
    [np.nan, 948.50, '2012-09-10', 3002, 5002.0],
    [70005.0, 2400.60, '2012-07-27', 3001, 5001.0],
    [np.nan, 5760.00, '2012-09-10', 3001, 5001.0],
    [70010.0, 1983.43, '2012-10-10', 3004, np.nan],
    [70003.0, 2480.40, '2012-10-10', 3003, 5003.0],
    [70012.0, 250.45, '2012-06-27', 3002, 5002.0],
    [np.nan, 75.29, '2012-08-17', 3001, 5003.0],
    [70013.0, 3045.60, '2012-04-25', 3001, np.nan]
]
df = pd.DataFrame(data, columns = column)

print(df)
print("\nMissing Values in columns\n")
columns_with_missing_values = df.columns[df.isnull().any()]
print(columns_with_missing_values)

     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

Missing Values in columns

Index(['ord_no', 'ord_date', 'salesman_id'], dtype='object')

3. Write a Pandas program to count the number of missing values in each column of a given DataFrame.

In [10]:
column = ['ord_no', 'purch_amt', 'ord_date', 'customer_id', 'salesman_id']
data = [
    [70001.0, 150.50, '2012-10-05', 3002, 5002.0],
    [np.nan, 270.65, '2012-09-10', 3001, 5003.0],
    [70002.0, 65.26, np.nan, 3001, 5001.0],
    [70004.0, 110.50, '2012-08-17', 3003, np.nan],
    [np.nan, 948.50, '2012-09-10', 3002, 5002.0],
    [70005.0, 2400.60, '2012-07-27', 3001, 5001.0],
    [np.nan, 5760.00, '2012-09-10', 3001, 5001.0],
    [70010.0, 1983.43, '2012-10-10', 3004, np.nan],
    [70003.0, 2480.40, '2012-10-10', 3003, 5003.0],
    [70012.0, 250.45, '2012-06-27', 3002, 5002.0],
    [np.nan, 75.29, '2012-08-17', 3001, 5003.0],
    [70013.0, 3045.60, '2012-04-25', 3001, np.nan]
]
df = pd.DataFrame(data, columns = column)

print(df)
print("\nMissing Values in columns\n")
missing_values_count = df.isnull().sum()
print(missing_values_count)

     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

Missing Values in columns

ord_no         4
purch_amt      0
ord_date       1
customer_id    0
salesman_id    3
dtype: int64

4. Write a Pandas program to find and replace the missing values in a given DataFrame which do not have any valuable information.

In [11]:
column = ['ord_no', 'purch_amt', 'ord_date', 'customer_id', 'salesman_id']
data = [
    [70001, 150.5, '?', 3002, 5002],
    [np.nan, 270.65, '2012-09-10', 3001, 5003],
    [70002, 65.26, np.nan, 3001, '?'],
    [70004, 110.5, '2012-08-17', 3003, 5001],
    [np.nan, 948.5, '2012-09-10', 3002, np.nan],
    [70005, 2400.6, '2012-07-27', 3001, 5002],
    ['--', 5760, '2012-09-10', 3001, 5001],
    [70010, '?', '2012-10-10', 3004, '?'],
    [70003, 12.43, '2012-10-10', '--', 5003],
    [70012, 2480.4, '2012-06-27', 3002, 5002],
    [np.nan, 250.45, '2012-08-17', 3001, 5003],
    [70013, 3045.6, '2012-04-25', 3001, '--']
]
df = pd.DataFrame(data, columns = column)

print(df)
print("\nReplace Missing Values\n")
df = df.replace({'--': np.nan, '?': np.nan})
print(df)

   ord_no purch_amt    ord_date customer_id salesman_id
0   70001     150.5           ?        3002        5002
1     NaN    270.65  2012-09-10        3001        5003
2   70002     65.26         NaN        3001           ?
3   70004     110.5  2012-08-17        3003        5001
4     NaN     948.5  2012-09-10        3002         NaN
5   70005    2400.6  2012-07-27        3001        5002
6      --      5760  2012-09-10        3001        5001
7   70010         ?  2012-10-10        3004           ?
8   70003     12.43  2012-10-10          --        5003
9   70012    2480.4  2012-06-27        3002        5002
10    NaN    250.45  2012-08-17        3001        5003
11  70013    3045.6  2012-04-25        3001          --

Replace Missing Values

     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50         NaN       3002.0       5002.0
1       NaN     270.65  2012-09-10       3001.0       5003.0
2   70002.0      65.26         NaN       3001.0          NaN
3   70004.0     110.50  2012-08-17       3003.0       5001.0
4       NaN     948.50  2012-09-10       3002.0          NaN
5   70005.0    2400.60  2012-07-27       3001.0       5002.0
6       NaN    5760.00  2012-09-10       3001.0       5001.0
7   70010.0        NaN  2012-10-10       3004.0          NaN
8   70003.0      12.43  2012-10-10          NaN       5003.0
9   70012.0    2480.40  2012-06-27       3002.0       5002.0
10      NaN     250.45  2012-08-17       3001.0       5003.0
11  70013.0    3045.60  2012-04-25       3001.0          NaN